beautifulsoup4==4.12.2
coverage==7.3.2
datasets==2.19.1
django-celery-beat==2.8.1
django-ckeditor==6.7.0
django-jazzmin==2.6.0
django-js-asset==2.1.0
django-redis==5.4.0
django-timezone-field==7.1
Django==4.2.8
numpy==2.2.6
pandas==2.2.3
Pillow==10.1.0
profanityfilter==2.0.6
protobuf==5.29.0
python-dotenv==1.2.1
regex==2024.11.6
scikit-learn==1.6.1
sentencepiece==0.2.0
stripe==7.4.0
tokenizers==0.21.1
torch==2.5.1
tqdm==4.67.1
transformers==4.52.4
xxhash==3.6.0