{% extends 'base.html' %}
{% load static %}

{% block title %}Information{% endblock %}

{% block body %}
<div class="container">
    <div class="info_page my-5">
        <a id="about"></a>
        <h1>About us</h1>
        <p>CookUP is the site for cooker and recipes recommendations. Our mission is to help people find and share recipes
            they love. Developer : Turetska Daiana</p>
    </div>
    <div class="info_page my-5">
        <a id="rules"></a>
        <h1>Site rules</h1>
        <p>This Agreement was last revised on December 1, 2023.</p>
        <p>Last updated: December 5, 2023.</p>
        <p>Platform Terms of Service
            
            Welcome to CookUP, the online platform and service provided by Recipe Platform LLC (referred to as "Recipe Platform," "we," or "us"). This page outlines the terms under which you can use our service. By accessing or using the Recipe Platform services, website, and software provided through or in connection with the service ("Service"), you agree, on behalf of yourself and all members of your household and others who use this Service under your account ("you" or "your"), to be bound by this Terms of Service Agreement. Please read this agreement carefully.
        </p>
           <p> 1. Use of Our Service.
            Recipe Platform is designed to be a place where users can discover, share, and engage with recipes from around the world. While some features are available without registration, accessing certain aspects of the Service, such as posting recipes, leaving reviews, and interacting with other members, requires you to register and create a "Member" account. You are responsible for maintaining the confidentiality of your account, and you agree to notify Recipe Platform immediately of any unauthorized use or security breach.
            
            Subject to compliance with this Agreement, and payment of any applicable fees, you are granted a limited, non-exclusive, non-transferable license to access and use the Service for personal and non-commercial purposes. This license does not permit commercial use, resale of Service components, or any form of data mining or extraction. All rights not expressly granted are reserved by Recipe Platform.
            
            Recipe Platform may limit the number of communications a Member can send to others within a 24-hour period to prevent unsolicited advertising. We reserve the right to terminate, suspend, or restrict your access to the Service without notice for any reason.
            
            The Service is subject to scheduled and unscheduled interruptions. You agree that Recipe Platform is not liable for any Service interruptions, delays, or failures.
            
            You are solely responsible for your interactions with other Recipe Platform users. Recipe Platform has the right to monitor disputes between users but is not obligated to do so.
        </p>
        <p>
            2. User Content.
            Certain areas of the Service allow users to post content, including recipes, reviews, comments, and other information ("User Content"). You are responsible for your User Content, which must comply with legal standards and not violate intellectual property rights. Recipe Platform reserves the right to monitor, reject, and remove User Content that violates these terms.
        </p>
            Recipe Platform takes no responsibility and assumes no liability for any User Content posted by users. You may be exposed to User Content that is inaccurate or objectionable, and Recipe Platform is not liable for any damages resulting from such content.
        <p> 
            3. License Grant.
            By posting User Content, you grant Recipe Platform a nonexclusive, royalty-free, perpetual, irrevocable, and sublicensable right to use, reproduce, modify, distribute, and display the content worldwide. You represent that you own or have the legal right to post the User Content.
        </p>
        <p>
            4. Our Proprietary Rights.
            Except for User Content, all materials in the Service, including software, images, text, graphics, trademarks, copyrights, and other intellectual property ("Recipe Platform Content"), are the exclusive property of Recipe Platform. Use of Recipe Platform Content for any purpose not expressly permitted by this Agreement is strictly prohibited.
            
            You may be invited to submit comments or ideas about the Service ("Ideas"). By submitting Ideas, you acknowledge that they are unsolicited, and Recipe Platform is free to use them without additional compensation.
            
            This Agreement applies to all visitors, users, and others who access the Service. Recipe Platform may amend this Agreement at any time by posting the revised version on the RecipePlatform.com website. Your continued use of the Service constitutes acceptance of any changes.</p>
    </div>
    <div class="info_page my-5">
        <a id="privacy"></a>
        <h1>Privacy and policy</h1>
        <p>Last updated: May 5, 2021.</p>
        <p>CookUP LLC (together with its affiliates, “CookUP,” “we,” or “us”) knows that you care how information
            about you is used and shared, and we appreciate your trust that we will do so carefully and sensibly.</p>
        <p>CookUP LLC is a subsidiary of Amazon.com, Inc. (“Amazon”). The information we collect is subject to the
            Amazon Privacy Notice, except as otherwise stated in this notice. By visiting or using CookUP and
            related services (the “Service”), you are accepting the practices described in the Amazon Privacy Notice as
            supplemented by this notice (the “Privacy Notice”). Please note that, if you have an account on
            www.amazon.com, information gathered by CookUP may be correlated with any personal information that
            Amazon.com has and used by CookUP and Amazon to improve the services we offer</p>
        <h5>User Content and Messages</h5>
        <p>The Service allows you to post User Content, as defined in our Terms of Use. Any User Content you post
            becomes available to the public via the Service. User Content includes, but is not limited to, reviews,
            comments, and visual content. If you remove User Content, copies may remain viewable in cached and archived
            pages or if other users have copied or stored your User Content.</p>
        <p>CookUP takes reasonable measures to keep messages that you send to other Members through the Service private
            between you and the recipient. However, even if you have deleted the message from your CookUP inbox or
            outbox, copies of the message may remain viewable in cached and archived pages or if other users have copied
            or stored the message.</p>
        <h5>E-mail</h5>
        <p>By providing CookUP your e-mail address you consent to us sending you Service-related notices, including any
            notices required by law, in lieu of communication by postal mail. We may also use your e-mail address to
            send you other messages, such as newsletters, changes to features, notices of member-initiated content, or
            special offers (“Other Messages”). If you do not want to receive Other Messages, you may opt out by changing
            your e-mail preference settings in the account settings section of OurSite.com after you have signed in
            using your personal password. Opting out may prevent you from receiving e-mail messages regarding updates,
            improvements, or offers. You may not opt out of Service-related e-mails.</p>
        <h5>Privacy Settings</h5>
        <p>Your name is used when you invite another person to join CookUP, or when you request to add another member
            to your friends list. To the extent that you do not wish to have your name shared in this manner, you should
            not make use of these services. You can modify, delete, and set your privacy setting for information you
            provide us any time in the account settings section of CookUP after you have signed in using your
            personal password.</p>
        <h5>Your Choices About Your Information</h5>
        <p>You may access or change your information and preferences at any time in the account settings section of
            CookUP once you have signed in with your personal password. For example, you can control which actions,
            if any, will appear on your update feed, whether to display your e-mail address, whether to display your
            last name, and what sort of e-mail notifications you will receive from the Service. You may, of course,
            decline to submit personally identifiable information through OurSite, in which case OurSite may not be able
            to provide certain services to you.</p>
        <h5>Cookies and Other Identifiers</h5>
        <p>To enable our systems to recognize your browser or device and to provide and improve the Service, we use
            cookies and other identifiers. For more information about cookies and how we use them, please read our
            Cookies notice.</p>
    </div>
    <div class="info_page my-5">
        <a id="help"></a>
        <h1>Write to us</h1>
        <p>If you need some help, please contact us via <a href="{% url 'users:help-email' %}">email</a></p>
    </div>
</div>
{% endblock %}